.cardPayment {
    .title {
        font-size: 1.5em;
        font-family: 'Celias Light';
    }
    
    .boxCard {
        margin-top: 30px;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 25px;
        background-color: #edf0f8;
        font-size: .8em;
        color: #ada9af;

        .wrapperTopInfo {
            display: flex;
            justify-content: space-between;

            .bankNameInfo {
                text-transform: uppercase
            }
            
            .brandCard {
                max-width: 50px;
            }
        }
        
        .contentChip {
            margin-top: 25px;
            display: flex;
            align-items: center;

            .contentImgChip {
                img {
                    max-width: 35px;
                }
            }
            
            .contentIconSignal {
                img {
                    margin-left: 15px;
                    max-width: 50px;
                    max-height: 25px;
                }
            }
        }
        
        .cardInfo {
            margin-top: 25px;

            .cardNumber {
                .sequenceNumber {
                    padding-right: 15px;
                }
            }
            
            .specifInfoCard {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                .cardCardholder {
                    text-transform: uppercase;
                }
            }
        }
    }
}